<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - CGCPriceTracker</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
                    <div class="container"><a class="navbar-brand logo" href="#">CZCPriceTracker</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navcol-2">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item item"><a class="nav-link" href="index.html">Domů</a></li>
                                <li class="nav-item item"><a class="nav-link" href="login.html">pŘIHLAŠTE SE</a>
                                    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
                                        <div class="container"><a class="navbar-brand logo" href="#">CZCPriceTracker</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                                            <div class="collapse navbar-collapse" id="navcol-2">
                                                <ul class="navbar-nav ms-auto">
                                                    <li class="nav-item item"><a class="nav-link" href="index.html">Domů</a></li>
                                                    <li class="nav-item item"><a class="nav-link" href="login.html">pŘIHLAŠTE SE</a></li>
                                                    <li class="nav-item item"></li>
                                                </ul>
                                            </div><a href="#"></a>
                                            <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
                                                <div class="container"><a class="navbar-brand logo" href="#">CZCPriceTracker</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                                                    <div class="collapse navbar-collapse" id="navcol-2">
                                                        <ul class="navbar-nav ms-auto">
                                                            <li class="nav-item item"><a class="nav-link" href="index.html">Domů</a></li>
                                                            <li class="nav-item item"><a class="nav-link" href="login.html">pŘIHLAŠTE SE</a></li>
                                                            <li class="nav-item item"></li>
                                                        </ul>
                                                    </div><a href="#"></a>
                                                </div>
                                            </nav>
                                        </div>
                                    </nav>
                                </li>
                                <li class="nav-item item"></li>
                            </ul>
                        </div><a href="#"></a>
                    </div>
                </nav>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">domů</a></li>
                    <li class="nav-item"><a class="nav-link" href="catalog-page.html">Produkty</a></li>
                    <li class="nav-item"><a class="nav-link" href="login.html">Přihláste se</a></li>
                    <li class="nav-item"><a class="nav-link active" href="registration.html">Zaregistrujte se</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Registration</h2>
                </div>
                <form style="height: 490px;">
                    <div class="mb-3"><label class="form-label" for="name">Jméno</label><input class="form-control item" type="text" id="name"></div>
                    <div class="mb-3"><label class="form-label" for="password">Heslo</label><input class="form-control item" type="password" id="password"></div>
                    <div class="mb-3"><label class="form-label" for="email">Email</label><input class="form-control item" type="email" id="email"></div><label class="form-label">Code</label><input class="form-control" type="text" style="margin-top: -2px;"><button class="btn btn-primary" type="submit" style="margin-bottom: 3px;margin-top: 23px;">Zaregistrovat se</button>
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Domů</a></li>
                        <li><a href="#">Přihlásit se</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2024 Copyright Text</p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="assets/js/vanilla-zoom.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>